* {
    font-weight: 400;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    background-color: #1A1E27;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 100%;
    color: black;
}

#logout {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: 20px;
}

#logout a {
    display: flex;
    text-decoration: none;
}

#logout a i {
    font-size: 40px;
    color: black;
}

#logout a p {
    padding-top: 4px;
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

#logout a p.mostra2 {
    opacity: 0;
}

#menu_lateral {
    /*padding-top: 10vh;*/
    width: 80px;
    height: 100%;
    background-color: #EFF3F6;
    /*background-color: rgb(114, 41, 230);*/
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
}

#logo {
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
}

#logo img:first-child {
    height: 61px;
    width: 50px;
}

#logo img:nth-child(2) {
    height: 61px;
    position: absolute;
    display: none;
    transition: 0.4s;
}

#logo img:nth-child(2).mostra {
    display: block;
}

#menu_lateral ul li {
    display: flex;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    position: relative;
    float: right;
}

#menu_lateral ul li:hover {
    background-color: white;
}
#menu_lateral ul li img {
    margin-top: 10px;
    margin-left: 15px;
    width: 50px;
    height: 50px;
}

#menu_lateral ul li a {
    text-decoration: none;
    padding-top: 18px;
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0;
    color: black;
}

#menu_lateral ul li a span {
    padding-top: 0;
    font-size: 30px;
    position: absolute;
    right: 10px;
    transition: 0.4s;
}

#menu_lateral ul li a span.gira {
    transform: rotate(180deg);
}

#menu_lateral ul ul{
    display: none;
    transition: 0.4s;
}

#menu_lateral ul .itens_usuario.mostra {
    display: block;
}

#menu_lateral ul .itens_empresa.mostra {
    display: block;
}

#menu_lateral ul .itens_controle.mostra {
    display: block;
}

#menu_lateral ul ul li i {
    margin-top: 20px;
    margin-left: 28px;
    font-size: 1.5rem;
    width: 30px;
}
#menu_lateral ul ul li a {
    opacity: 1;
    font-size: 1.1rem;
    right: 10px;
}
#menu_lateral ul .mostra2 {
    opacity: 0;
}

#tudo {
    min-width: 92%;    
    overflow: auto;
    z-index: 0;
    position: absolute;
    background-color: #1A1E27;
    margin-left: 80px;
    color: white;
    text-align: center;
    padding-top: 40px;
}

#tudo h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#menu_lateral.expandir {
    width: 260px;
    transition: 0.2s;
}

.expandir_menu {
    animation-name: expandir_menu;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.fechar_menu {
    animation-name: fechar_menu;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.aparecer {
    animation-name: aparecer;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}


@keyframes expandir_menu {
    from {
        width: 80px;
    }
    to {
        width: 300px;
    }  
}

@keyframes fechar_menu {
    from {
        width: 300px;
    }
    to {
        width: 80px;
    }
}
@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 25px;
    color: black;
}

.label-float input{
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    padding: 12px 15px;
    font-size: 18px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance:none;
    font-weight: 500;
    background: white;
    width: 100%;
}

.label-float input:focus{
    border: 2px solid #3951b2;
}

.label-float input::placeholder{
    color: transparent;
}

.label-float label{
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    padding: 3px;
    box-sizing: border-box;
    font-weight: 400;
    background: transparent;
    font-size: 18px;
}


.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
    top: -20px;
    font-weight: 500;
    color:white;
}

.filled {
    display: flex;
}
.input-cinquenta {
    width: 50%;
}
/*
.links > a{
    color: rgb(0, 0, 0);
    padding: 0 25px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.links > a:hover{
    border-bottom: 1px solid rgb(155, 155, 155);
}

.links{
    text-align: right;
}

.opcoes > .a > a{
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.opcoes > .a > a:hover{
    color: rgb(37, 37, 44);
}

.users{
    text-align: center;
    display: grid;
    grid-template-rows: 15vh 15vh 15vh 15vh;
}

.empresa{
    text-align: center;
    display: grid;
    grid-template-rows: 20vh 20vh;
    margin-top: 80px;
}

.cima{
    background-color: red;
}

.esquerda{
    background-color: rgb(38, 109, 82);
    padding-top: 10vh;
}
*/

.direita{
    overflow: auto;
    text-align: center;
}
/*


.es{
    color: rgb(212, 212, 212);
}



chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel-body {
    overflow-y: scroll;
    height: 350px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
*/