* {
    font-weight: 100;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
body {
    background: linear-gradient(90deg, #edf2f4, #4a00e0);
    background-repeat: no-repeat;
}

#fundo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}
#navbar{
    background-color: #fff;
    position: fixed;
    width: 100%;
    color: white;
    padding: 10px;
    z-index: 1;
}

#nav-logo {
    position: relative;
    float: left;
}
#nav-logo img {
    width: 200px;
}

#nav-link {
    position: relative;
    float: right;
    margin-top: 1.5vh;
}

#nav-link a {
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 10px 25px;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
}

#container {
    background: #212529;
    width: 500px;
    height: 60%;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 6%;
}
#container h2 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 5%;
    position: relative;
}

/* CONFIGURAÇÕES DO INPUT ANTIGO */
.input-field {
    position: relative;
    margin-bottom: 5%;
}

.input-field input:focus {
    box-shadow: 0 0 0 0;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0px;
    background: #fff;
}
.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0px;
    background: linear-gradient(90deg, #4a00e0, #edf2f4);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after{
    transform: scaleX(1);
}
.input-field input {
    background-color: #212529;
    outline: none;
    font-size: 1.3rem;
    color: rgba(ed, f2, f4, 0.7);
    width: 100%;
}
.input-field p {
    font-size: 1.5rem;
    color: #fff;
}
.input-field input::placeholder {
    color: rgba(ed, f2, f4, 0.7);
}


/* ----------------------------------------------------- */
/* CONFIGURAÇÕES INPUT ATUAL */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: #FFF;
    -webkit-box-shadow: 0 0 0px 1000px #212529 inset;
}

.label-float {
    position: relative;
    padding-top: 13px;
}

.label-float input{
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    padding: 12px 15px;
    font-size: 18px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance:none;
    font-weight: 200;
    background: #212529;
    width: 100%;
}

.label-float input:focus{
    border: 2px solid #3951b2;
}

.label-float input::placeholder{
    color: transparent;
}

.label-float label{
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    padding: 3px;
    box-sizing: border-box;
    font-weight: 400;
    background: #212529;
}


.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
    font-size: 15px;
    top: 0;
    color: #FFF;
}
/* ------------------------------------------------- */
#input-2 {
    margin-top: 5%;
}
#lembrar {
    display: flex;
    margin-top: 5%;
}

#lembrar label {
    font-size: 1.2rem;
    margin-left: 1%;
}

#lembrar input {
    margin-top: 0.6%;
    width: 20px;
    height: 20px;
    background-color: #212529;
    border: 1px solid gray;
    display: inline-block;
}

#lembrar input:checked {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
}

#entrar{
    margin-top: 8%;
    padding: 0.4rem;
    background: linear-gradient(90deg, #4a00e0, #3c096c);
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 26px;
    transition: all 0.3s ease;
    height: 10%;
    width: 100%;
    position: relative;
}
#check {
    font-size: 3rem;
}
.links {
    display: flex;
}
.link1 {
    padding-top: 3rem;
}
.link1 a {
    text-decoration: none;
    color: #c77dff;
    font-size: 1.2rem;
    font-weight: 300;
}
.link1 a:hover{
    color: #e0aaff;
    background: #343a40;
}

#link2 {
    margin-left: auto;
}
#header {
    display: flex;
    margin-bottom: 2vh;
}
#voltar {
    margin-left: auto;
}
#voltar a{
    text-decoration: none;
    font-size: 17px;
    color: #edf2f4;
    padding: 1rem;
}
#voltar a:hover {
    color: #e0aaff;
}

.animar {
    animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }  
}