.overview {
    padding-top: 90px;
}

.overview h1 {
    margin-bottom: 40px;
}

.lin {
    background-color: rgb(211, 211, 211);
    color: black;
    display: flex;
    margin-top: 15px;
    padding: 10px;
    border-radius: 15px;
}

.posi {
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    width: 100px;
    margin-left: 1px;
    margin-right: 15px;
}

.nome {
    font-size: 22px;
    font-weight: bold;
    margin: auto;
    margin-left: 10px;
}

.ativ {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 30px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.mod {
    display: flex;
}

.span {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 40px;
}

.dificil,
.medio,
.facil {
    margin: auto;
}

.dificil {
    margin-left: 5px;
}

.nome a{
    color: black;
    text-decoration: none;
}

.card-o{
    width: 1000px;
    background-color: rgb(211, 211, 211);
    color: black;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    border-radius:15px;
    text-align: justify;
}

.header{
    display:flex;
}

.header a{
    text-decoration: none;
    color: rgb(182, 182, 182);
    margin: auto;
}
.header a:hover{
    color: rgb(126, 119, 119);
}

.header .volt{
    margin-left: 100px;
}
