.overview {
    padding-top: 90px;
}

.overview h1 {
    margin-bottom: 40px;
}

.lin {
    background-color: rgb(211, 211, 211);
    color: black;
    display: flex;
    margin-top: 15px;
    padding: 10px;
    border-radius: 15px;
}

.posi {
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    width: 100px;
    margin-left: 1px;
    margin-right: 15px;
}

.nome {
    font-size: 22px;
    font-weight: bold;
    margin: auto;
    margin-left: 10px;
}

.ativ {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 30px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.mod {
    display: flex;
}

.span {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 40px;
}

.dificil,
.medio,
.facil {
    margin: auto;
}

.dificil {
    margin-left: 5px;
}

.nome a{
    color: black;
    text-decoration: none;
}

.card-o{
    width: 1000px;
    background-color: rgb(211, 211, 211);
    color: black;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    border-radius:15px;
    text-align: justify;
}

.header{
    display:flex;
}

.header a{
    text-decoration: none;
    color: rgb(182, 182, 182);
    margin: auto;
}
.header a:hover{
    color: rgb(126, 119, 119);
}

.header .volt{
    margin-left: 100px;
}

.btn-paguser{
    padding: 15px 30px;
    color: white;
    background-color: rgb(38, 109, 82);
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    cursor: pointer;
}
.btn-paguser:hover{
    background-color: rgb(34, 92, 70);
}

/*-------------------------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Sarala:700|Exo+2:300');

.wrapper{
  width: 280px;
  height: 480px;
  perspective: 800px;
  margin-left: 60px;
  margin-right: 60px;
  position: relative;
}

.card{
  background-color: transparent;
  width: 300px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-140px);
  transition: transform 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.card > div{
  position: absolute;
  width: 320px;
  height: 350px;
  padding: 34px 21px;
  transition: all 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.front{
  transform: rotateY(0deg) translateZ(160px); 
  border-radius: 34px 3px 0 0;
}

.right{ 
  opacity: 0.08;
  transform: rotateY(90deg) translateZ(160px);
  border-radius: 0 0 3px 34px;
}

.card:hover{
  transform: translateZ(-160px) rotateY( -90deg);
}

.card:hover .front{
  opacity: 0; 
}

.card:hover .right{
  opacity: 1; 
}

h1,h2{
  margin: 0;
  font-size: 38px;
  letter-spacing: -.25px;
  font-family: 'Sarala'; 
  font-weight: 700;
}

h2{
  font-size: 21px;
}

p{
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}

span{
  margin-left: 13px;
  opacity: .55;
}

@keyframes float{
  0%{
    transform: translateZ(20px);
  }
  100%{
    transform: translateY(-21px) translateX(-13px) translateZ(30px);
  }
}

.right ul{
  margin-left: 25px;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
  text-align: left;
  margin-top: 20px;
}

.right li{
  padding-bottom: 8px;
  position: relative;
}

.right li:before{
  content: 'x'; 
  position: absolute;
  left: -25px;
  opacity: .55;
}

.right button{
  position: absolute;
  right: 21px; 
  bottom: 34px;
  border: none;
  box-shadow: none;
  background: none;
  color: inherit;
  color: white;
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 15px;  
  letter-spacing: -.25px;
  font-weight: 700;
  padding: 13px 34px;
  border-radius: 55px 55px 21px 55px;
  background-image: linear-gradient(130deg, rgba(117,51,165,1)  50%, rgba(51,46,57,.89) 100%);
  background-size: 125% 100%;
  background-position: right;
  cursor: pointer;
  box-shadow: 8px 5px 13px rgba(34,34,34,.08);
  transform: scale(0) skewY(13deg);
  transition: all 150ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  transform-origin: right bottom;
}

.card:hover button{
   transform: scale(1) skewY(0);
}

.card:not(:hover) button{
opacity: 0;
}

.right button:hover{
  background-position: left;
}

.price{
  position: absolute;
  bottom: 34px;
  left: 21px;
  font-size: 34px;
  opacity: .34;
}

@keyframes fadeIn{
  0%{
    opacity: 0.33;
    transform: scale(.89);
  }
}

@media only screen and (max-width: 600px){
  body{
    transform: scale(.67);
  }
}
